.container {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
  max-width: $mobile;

  @include media-query(tablet) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: $tablet;
  }
  @include media-query(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    max-width: $desktop;
  }
}
