@import "../../../shared/Styles/";

.pizzaList_list {
  @include media-query(tablet) {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 20px;

    width: 100%;
  }
  @include media-query(desktop) {
    grid-template-columns: repeat(auto-fill, 360px);
  }
}
